<ion-item>
  <ion-button size="large" expand="block" (click)="setModal(true)">Відкрити таблицю</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header class="ion-padding">
        <ion-toolbar>
          <ion-title>Таблиця модулів</ion-title>
          <ion-buttons slot="end">
            <ion-button expand="block" shape="round" (click)="setModal(false)"><ion-icon size="large" name="close-circle-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-grid>
          <ion-row class="ion-align-items-start">
            <ion-col *ngFor="let item of numbers">
              <div class="number-square ion-text-center" [style]="'background-image: '+item.style"><h3 class="text-no-padding ion-text-nowrap">{{item.value}}</h3></div>
            </ion-col>
            <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
              <ion-infinite-scroll-content loading-spinner="lines"></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-item>
