<ion-grid>
  <ion-row>
    <ng-template ngFor let-item [ngForOf]="_surroundingText.sort(sortByIndex)" let-i="index" [ngForTrackBy]="extractIndex">
      <span class="enlarged-text" [innerHTML]="item.value"></span>
      <ion-input *ngIf="i < rawInputs.length"
       class="enlarged-text input short" type="number" [clearOnEdit]="true"
       [ngModel]="rawInputs[i]" (change)="update(i, $event.target)"
       onkeypress="this.style='width: '+(Math.max(2,this.value.toString().length)+2)+'ch;'"
       onclick="this.style='width: '+(Math.max(2,this.value.toString().length)+2)+'ch;'"></ion-input>
    </ng-template>
  </ion-row>
</ion-grid>