.enlarged-text{
  width: fit-content;
  white-space: nowrap;
  
  line-height: max(15px, min(4vw, 30px));
  margin-left: 0.2em;
  margin-right: 0.2em;
  
  font-size: max(15px, min(4vw, 30px));
  font-family: sans-serif;
}
.short{
  min-width: 1em;
  width: 3ch;
}
.long{
  min-width: 4em;
  max-width: 100%;
}
.input{
  border-bottom: 1px solid var(--ion-color-medium-tint);
  border-radius: 0.2em;

  min-height: min(4.5vw, 40px);
}