<ion-grid>
  <ion-row>
    <span class="enlarged-text">
      {{surroundingText[0]}}
    </span>
    <ng-template ngFor let-item [ngForOf]="rawInputs" let-i="index">
      <ion-input class="enlarged-text input short" type="number" [clearOnEdit]="true"
       [(ngModel)]="rawInputs[i]" (ionChange)="update()"
       onkeypress="this.style='width: '+(Math.max(2,this.value.toString().length)+2)+'ch;'"
       onclick="this.style='width: '+(Math.max(2,this.value.toString().length)+2)+'ch;'"></ion-input>
      <span class="enlarged-text">{{surroundingText[i+1]}}</span>
    </ng-template>
  </ion-row>
</ion-grid>