<ion-menu contentId="main-content" class="wider-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Оберіть роботу:</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item *ngFor="let item of taskList" button (click)="callTasks(item)">
          <ion-label>
            <h1>{{item.title}}</h1>
            <p>{{item.description}}</p>
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Лабораторні роботи з крос-платформного програмування
    </ion-title>
    <ion-label class="ion-padding">
      студента групи КН-32/2 Шевченка Ярослава
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-grid *ngIf="showHint" style="height: 100%">
    <ion-row class="centered">
        <h1>
          Панель завдань
        </h1>
        <ion-label>Завдання будуть відображатися тут. Оберіть <ion-menu-toggle><a>роботу,</a></ion-menu-toggle> яку хочете переглянути.</ion-label>
    </ion-row>
  </ion-grid>
  
  <app-task-group-view #groupView></app-task-group-view>
  
</ion-content>
