<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Select a task group:</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item *ngFor="let item of taskList" button (click)="callTasks(item)">
          <ion-label>
            <h1>{{item.title}}</h1>
            <p>{{item.description}}</p>
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Blank-ish
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <!--<ion-card><app-input-array [inputType]="'number'" [surroundingText]="['1','3']"></app-input-array></ion-card>-->
  <app-task-group-view #groupView></app-task-group-view>
  
</ion-content>
